@charset "UTF-8";

body{
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color: yellowgreen;
}
a{
    color: yellowgreen;
}